<div style="text-align:center">
<a rel="license" href="http://creativecommons.org/licenses/{{type}}/4.0/">
  <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/{{type}}/4.0/{{iconSize}}.png" />
</a>
{{^iconOnly}}
<br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/{{type}}/4.0/">Creative Commons {{name}} 4.0 International License</a>.
{{/iconOnly}}
</div>